.header {
   width: 100%;
   font-size: 2rem;
   padding: 2rem 5rem;
   display: flex;
   align-items: center;
   background-color: var(--color-primary);
   position: relative;

   &__burger {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      width: 5rem;
      height: 5rem;
      right: 5rem;
      cursor: pointer;

      &-line {
         width: 100%;
         height: 0.3rem;
         background-color: #fff;
      }

      @media only screen and (max-width: $bp-small) {
         display: flex;
      }
   }

   &__logo {
      margin-right: auto;
      color: var(--color-text-primary);
   }
   &__nav {
      width: 30%;
      @media only screen and (max-width: $bp-large) {
         width: 35%;
      }

      @media only screen and (max-width: $bp-medium) {
         width: 40%;
      }

      @media only screen and (max-width: $bp-small) {
         width: 50rem;
         display: none;
      }

      &-list {
         display: flex;
         align-items: center;
         justify-content: space-between;
         list-style: none;
      }

      &-item a:link,
      &-item a:visited {
         text-decoration: none;
         color: var(--color-text-primary);

         &:hover {
            text-decoration: underline;
         }
      }
   }
}
